# Working with SQL
- In XAMPP start Apache and MySQL
- Hit a URL which is: localhost/phpmyadmin/
- Create a new database
- After this import the sql file in it.
- Now its time for Jupyter

In [2]:
# !pip install sqlalchemy
# !pip install mysql.connector
import pandas as pd

## Method 1:

In [21]:
import mysql.connector

In [22]:
# Establish the connection
conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [23]:
# Create a cursor object
cursor = conn.cursor()

In [24]:
# Execute the query
cursor.execute("SELECT * FROM city")

In [25]:
# Fetch all rows from the executed query
rows = cursor.fetchall()

In [26]:
# Get column names from cursor
columns = [column[0] for column in cursor.description]

In [27]:
# Convert the result into a DataFrame
df = pd.DataFrame(rows, columns=columns)

In [29]:
# Display the DataFrame (optional)
df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [30]:
# Close the cursor and connection
cursor.close()
conn.close()

## Method 2:

In [16]:
from sqlalchemy import create_engine

In [18]:
# Create an SQLAlchemy engine
engine = create_engine('mysql+pymysql://root:@localhost/world')

In [19]:
# Use pandas to execute the SQL query
df = pd.read_sql_query("SELECT * FROM city", engine)

In [20]:
df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]